@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Montserrat+Alternates:400,700");
@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

body {
  background-color: #95A5A6;
  font-family: Montserrat, Arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #999; }

.tarjeta-presentacion {
  width: 525px;
  display: flex;
  box-shadow: -1px 0px 19px 0px rgba(50, 50, 50, 0.3);
  border-radius: 4px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: white; }
  .tarjeta-presentacion .contenedor {
    flex: 1;
    padding: 20px; }
    .tarjeta-presentacion .contenedor:first-child {
      text-align: center;
      align-self: center; }
  .tarjeta-presentacion h2 {
    font-size: 18px;
    line-height: 24px;
    color: #AF2B20; }
  .tarjeta-presentacion h3 {
    font-size: 10px;
    line-height: 18px; }
    .tarjeta-presentacion h3:after {
      content: '';
      display: block;
      width: 140px;
      height: 2px;
      margin: 0 auto 25px auto;
      background-color: #ddd; }
  .tarjeta-presentacion h2, .tarjeta-presentacion h3 {
    text-align: center;
    text-transform: uppercase; }
  .tarjeta-presentacion p {
    font-weight: 400;
    padding: 20px 0; }
    .tarjeta-presentacion p:first-child {
      padding-bottom: 0; }
  .tarjeta-presentacion .btn {
    color: white;
    text-transform: uppercase;
    padding: 10px 0;
    background: #1ABC9C;
    display: block;
    border-radius: 6px;
    text-align: center;
    border-bottom: 4px solid #15A286;
    transition: .3s; }
    .tarjeta-presentacion .btn:hover {
      opacity: .8; }
  .tarjeta-presentacion ul li {
    background-color: #999;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    display: inline-block;
    text-align: center; }
    .tarjeta-presentacion ul li span {
      line-height: 25px; }
      .tarjeta-presentacion ul li span:before {
        color: white; }

/*# sourceMappingURL=style2.css.map */
